<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/user">Hompage</a>
            <a class="nav-item nav-link active" href="/user/dashboard">My dashboard</a>
            <a class="nav-item nav-link active" href="https://www.coindesk.com/price/bitcoin" target="_blank">Bitcoin Price</a>
            <a class="nav-item nav-link active" href="/aboutus">About</a>
            <a class="nav-item nav-link active" href="/user/logout">Logout</a>
        </div>
    </nav>
    <div>
        <h1>About the website</h1>
        <p>This website is purely satire and to practice what we learned in our web development class.
            If you have any problems with this website be sure to contact one of the creators to let 
            us know we should take it down. If you have any complaints or praises contact one of our
            emails as well. This website does not generate any money and we are not 
            stealing bank account information or selling a ponzi scheme. Don't sue us bro.
        </p>
    </div>

    <h2>Meet the team</h2>
    
    <div class="row h-100">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../public/images/nick_g.jpg" alt="Nick Guo">
            <div class="card-body">
                <h2 class="card-title">Nick Guo</h2>
                <p>Chief Engineer</p>
                <p>Blue is the colour of the clear sky and the deep sea</p>
                <p>nguo1@stevens.edu</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../public/images/jerry.jpg" alt="Jerry Yu">
            <div class="card-body">
                <h2 class="card-title">Jerry Yu</h2>
                <p>CEO</p>
                <p>Pump Dogecoin and Safemoon</p>
                <p>jyu28@stevens.edu</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../public/images/nick_s.jpg" alt="Nicholas Szegheo">
            <div class="card-body">
                <h2 class="card-title">Nicholas Szegheo</h2>
                <p>COO and President</p>
                <p>It’s Not a JPEG, It’s Totally Different. It’s Even Less</p>
                <p>nszegheo@stevens.edu</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../public/images/yakov.jpg" alt="Yakov Kazinets">
            <div class="card-body">
                <h2 class="card-title">Yakov Kazinets</h2>
                <p>CEO</p>
                <p>Apes strong together</p>
                <p>ykazinet@stevens.edu</p>
            </div>
        </div>

    </div>
</main>