<main>
    <div class="sidenav">
        <a href="/postnft">Create</a>
        <a href="/listings">Listings</a>
        <a href="/bids">Bids</a>
        <a href="/changepassword">Settings</a>
    </div>
</main>