<main>
    <div class="sidenav">
        <a href="/postnft">Create</a>
        <a href="/listing">Listings</a>
        <a href="/bid">Bids</a>
        <a href="/changepassword">Settings</a>
    </div>
</main>