<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/user/dashboard">My dashboard</a>
            <a class="nav-item nav-link active" href="https://www.coindesk.com/price/bitcoin" target="_blank">Bitcoin Price</a>
            <a class="nav-item nav-link active" href="/aboutus">About</a>
            <a class="nav-item nav-link active" href="/user/logout">Logout</a>
        </div>
    </nav>
    <form method="post" action="/user/changepw">
        <label for="username">Enter Username</label>
        <input id="username" type="text" name="username"/>

        <label for="password1">Enter new Password</label>
        <input id="password1" type="password" name="password1"/>

        <label for="password2">Re-enter your new Password</label>
        <input id="password2" type="password" name="password2"/>

        <button type="submit">Change Password</button>

    </form>
    <div id="passworderror" hidden></div>
</main>