<main>
    <form method="post" action="">
        <label for="username">Enter Username</label>
        <input id="username" type="text" name="username"/>

        <label for="password1">Enter new Password</label>
        <input id="password1" type="password" name="password1"/>

        <label for="password2">Re-enter your new Password</label>
        <input id="password2" type="password" name="password2"/>

        <button type="submit">Change Password</button>

    </form>

    {{#if error}}
        <h3>{{error}}</h3>
    {{/if}}
</main>