<main>
    <div class="navbar">
        <a href="/dashboard">My dashboard</a>
        <a href="https://www.coindesk.com/price/bitcoin" target="_blank">Bitcoin Price</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </div>
</main>