<main>
    <h1>My Listings</h1>
    {{#if NFT}}
    {{#each NFT}}
    <div class="card" style="width: 18rem;">
        <a href=""><img class="card-img-top" src= {{this.image}} alt="NFT image"></a>
        <div class="card-body">
            <h4 class="card-title"><b>{{this.expire}}</b></h4>
            <p>{{this.desc}}</p>
            <p>{{this.highestbid}}</p>
            <button id="close">End Listing</button>
        </div>
    </div>
    {{/each}}
    {{/if}}
</main>