<main>
    {{#if hidelogin}}
        <form id="login-form" method="post" action="/user/login">
            <label for="username">Username</label><br>
            <input id="username" type="text" name="username"/><br>

            <label for="password">Password</label><br>
            <input id="password" type="password" name="password"/><br>

            <button type="submit">Login</button>
            <button type="button" id = "regis">Register for account</button>
            {{#if haserror}}
            <div id="error-container">
            <p>Invalid username or password.</p>
            </div>
            {{/if}}
        </form>
    {{/if}}
    {{#if hidereg}}
    <form id="register-form" method="post" action="/user/register">
        <label for="username">Set Username</label><br>
        <input id="username" type="text" name="username"/><br>

        <label for="first">Enter First Name</label><br>
        <input id="first" type="text" name="first"/><br>

        <label for="last">Enter Last Name</label><br>
        <input id="last" type="text" name="last"/><br>

        <label for="email">Enter Email</label><br>
        <input id="email" type="text" name="email"/><br>

        <label for="country">Enter country</label><br>
        <input id="country" type="text" name="country"/><br>

        <label for="age">Enter Age</label><br>
        <input id="age" type="number" name="age"/><br>

        <label for="bank">Enter Bank Routing Number</label><br>
        <input id="bank" type="text" name="bank"/><br>

        <label for="password1">Set Password</label><br>
        <input id="password1" type="password" name="password1"/><br>

        <label for="password2">Re-enter your Password</label><br>
        <input id="password2" type="password" name="password2"/><br>

        <button type="submit" id="reg">Register</button>
        <button type="button" id="loginb">Have an account? Log in here!</button>
        {{#if haserror2}}
        <div id="error-container2">
        {{#each errors}}
        <p>{{this}}</p>
        {{/each}}
        </div>
        {{/if}}
    </form>
    {{/if}}
</main>