<main>
    <form method="post" action="">
        <label for="url">Enter URL</label>
        <input id="url" type="text" name="url"/>

        <label for="description">Enter description</label>
        <input id="description" type="text" name="description"/>

        <label for="expdate">Enter expiration date</label>
        <input id="expdate" type="text" name="expdate"/>

        <button type="submit">Create Listing</button>

    </form>
    <div id="posterror"></div>
</main>