<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/user/dashboard">My dashboard</a>
            <a class="nav-item nav-link active" href="https://www.coindesk.com/price/bitcoin" target="_blank">Bitcoin Price</a>
            <a class="nav-item nav-link active" href="/aboutus">About</a>
            <a class="nav-item nav-link active" href="/user/logout">Logout</a>
        </div>
    </nav>
    <h1>Create a NFT to Sell</h1>
    {{#if haserror}}
    <div class="error">
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
    </div>
    {{/if}}
    <form method="post" action="/listing">
        <label for="url">Enter URL</label><br>
        <input id="url" type="text" name="url"/><br>

        <label for="description">Enter description</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br>

        <label for="expdate">Enter expiration date</label><br>
        <input id="expdate" type="text" name="expdate"/><br>

        <button type="submit">Create Listing</button>

    </form>
    <div id="posterror"></div>
</main>