<main>

    <form id="register-form" method="post" action="">
        <label for="username">Set Username</label>
        <input id="username" type="text" name="username"/>

        <label for="password1">Set Password</label>
        <input id="password1" type="password" name="password1"/>

        <label for="password2">Re-enter your Password</label>
        <input id="password2" type="password" name="password2"/>

        <button type="submit">Register</button>

    </form>

    <a href ="">Login to your account</a>

    {{#if error}}
        <h3>{{error}}</h3>
    {{/if}}
</main>