/*Intial css styles*/

* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}

body {
	background: #dedede;
}

main {
	max-width: 100%;

}

header {
	border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: 1.05rem;
}

p {
	font-size: 1rem;
	line-height: 2;
}

button {
    background-color: #222;
    color:white;
    padding: 7px 7px;
	text-align: center;
    display: inline-block;
    /*font-size: 100%;*/
	border-radius: 10px;

}

.error {
    color: red;
}

label {
	position: relative;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

#error-container2 {
	color: red;
}

.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
}
  
.sidenav a:hover {
	color: #f1f1f1;
}

#acc {
	margin-left: 160px;
  	padding: 0px 10px;
}

.card-title{
	font-size: large;
}

#logu {
	color: navy;
}

#s {
	color:white;
}